<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nopever.viewx">

    <application>

        <activity
            android:name=".activity.CrashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:process=":crash" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.nopever.viewx.core.LibInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>